<div>
    collection_id: {{collection_id}}<br/>
    collection_status: {{collection_status}}<br/>
    external_reference: {{external_reference}}<br/>
    payment_type: {{payment_type}}<br/>
    preference_id: {{preference_id}}<br/>
    site_id: {{site_id}}<br/>
    processing_mode: {{processing_mode}}<br/>
    merchant_account_id: {{merchant_account_id}}<br/>
</div>
   